# Pipecat
CARTESIA_API_KEY=
DEEPGRAM_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
DAILY_API_KEY=
PIPER_BASE_URL=


# API Server
API_PORT=8000
API_KEY=your-secure-api-key
API_RESPONSE_TIMEOUT=30
MAX_MESSAGES=20
API_BASE_URL=http://localhost:8000  # Optional, for testing


# jhutils
MEALIE_API_URL=
MEALIE_API_KEY=
MEALIE_SHOPPING_LIST_ID=

OBSIDIAN_VAULT_OWNER=
OBSIDIAN_VAULT_REPOSITORY=
OBSIDIAN_VAULT_BRANCH=
OBSIDIAN_VAULT_PROMPTS_PATH=path/to/prompts
OBSIDIAN_VAULT_TOKEN=

OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_API_KEY=
ASSISTANT_MODEL=gpt-4o-mini
ASSISTANT_TEMPERATURE=0.0
