# Pipecat
CARTESIA_API_KEY=
DEEPGRAM_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=
DAILY_API_KEY=
PIPER_BASE_URL=


# API Server
API_PORT=8000
API_KEY=your-secure-api-key
API_RESPONSE_TIMEOUT
MAX_MESSAGES=20


# jhutils
MEALIE_API_URL=
MEALIE_API_KEY=
MEALIE_SHOPPING_LIST_ID=
OBSIDIAN_VAULT_TOKEN=
OBSIDIAN_VAULT_OWNER=
OBSIDIAN_VAULT_REPOSITORY=
OBSIDIAN_VAULT_PROMPTS_PATH=path/to/prompts
OPENAI_API_KEY=  # OpenRouter API key

ALIAS=
